# Core
python-dotenv
PyYAML
pyPDF2

# LangGraph
langgraph

# Embeddings and LLM
langchain
langchain-chroma
sentence-transformers
huggingface-hub
transformers
torch


# Vector DB
chromadb

# Reranker / BM25
whoosh

# API
fastapi
uvicorn
pydantic
requests
python-dotenv

# UI
streamlit

# Testing
pytest
#llm
groq
